[Unit]
Description=Monitoreo de batería y alarma
After=graphical.target

[Service]
ExecStart=%h/dotfiles/.local/bin/battery-alert.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target

