[Unit]
Description=Limpiar historial de Chrome al cerrar el navegador

[Service]
ExecStart=%h/dotfiles/.local/bin/clear-chrome-history.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target

