[Unit]
Description=Hyprland Wallpaper Changer

[Service]
ExecStart=%h/dotfiles/.local/bin/wallpaper.sh
Restart=always

[Install]
WantedBy=default.target

